/*GLOBAL STYLES*/
html{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #555;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.center{
  text-align: center;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
  max-width: 100%;
}

/*HEADER STYLES*/
.mainHdr{
  border-top: 3em solid #e72e25;
}

.mainHdr h1{
  margin: 50px 0;
}

input[type="text"]{
  width: 90%;
  padding: 1em;
  margin: 0 auto;
  color: #333;
}

input[type="text"]:focus{
  outline: none;
}

input[type="submit"]{
  width: 200px;
  padding: 1em;
  margin: 25px auto 0 auto;
  background-color: #e72e25;
  border: none;
  color: #fff;
  border-bottom: 3px solid #7a201d;
  border-right: 2px solid #7a201d;
  transition: all .25s;
}

input[type="submit"]:focus{
  border-bottom: 1px solid #7a201d;
  border-right: .5px solid #7a201d;
  outline: none;;
}

/*RESULTS SECTION*/
.results{
  padding: 100px 0;
}

.results-list{
  margin-bottom: 50px;
}

.thumbnail a{
  display: inline-block;
  margin: 15px auto;
  text-decoration: none;
  color: #444;
}

.thumbnail img{
  height: 200px;
  width: auto;
}

.thumbnail p{
  padding: 0 20px;
}

.next, .prev{
  display: none;
  width: 75px;
  padding: 1em;
  margin: 25px 25px 0;
  background-color: #e72e25;
  border: none;
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 650px){
  input[type="text"]{
    width: 500px;
    display: block;
  }

  .results-list:after{
    content: "";
    display: table;
    clear: both;
  }

  .thumbnail a{
    width: 45%;
    float: left;
    margin: 15px 2.5%;
  }
}

@media screen and (min-width: 1000px){
  .thumbnail a{
    max-width: 30%;
    margin: 15px 1.6666%;
  }
}


